html {
    scroll-behavior: smooth;
}
body  {
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans', sans-serif;
}

nav {
    padding: 40px;
    width: 100%;
    height: 65px;
    padding: 0 10px;
    background-color:white;
    color: white;
    position: fixed;
}
nav img {
    padding-top: 4px;
}
nav li {
    text-decoration:none ;
    background: linear-gradient(to right, rgb(100, 149, 237), rgb(229, 59, 81));
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}
nav a {
    text-decoration: none;
    color: white;
    text-align: center;
}
ul {
    margin: 0;
    padding-top: 16px;
    float: right;
    padding-right: 16px;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 0 8px;
}
section {
    padding: 40px;
}
#Hero {
    display: flex;
}
#Info {
    width: 60%;
}
#Info p {
    position: relative;
    bottom: 30px;
    right: 25px;
    font-size: 50px;
    background: -webkit-linear-gradient(to right, rgb(100, 149, 237), rgb(229, 59, 81));
	background: linear-gradient(to right, rgb(100, 149, 237), rgb(229, 59, 81));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#Info h1 {
    position: relative;
    right: 25px;
    background: -webkit-linear-gradient(to right, rgb(100, 149, 237), rgb(229, 59, 81));
	background: linear-gradient(to right, rgb(100, 149, 237), rgb(229, 59, 81));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#Gambar {
    width: 40%;
}
#Gambar img {
    position: right top;
    width: 45%;
    border-radius: 20px;
}
#Keahlian {
    text-align: center;
    background: -webkit-linear-gradient(to right, rgb(100, 149, 237), rgb(229, 59, 81));
	background: linear-gradient(to right, rgb(100, 149, 237), rgb(229, 59, 81));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#Tentang {
    text-align: center;
    background: -webkit-linear-gradient(to right, rgb(100, 149, 237), rgb(229, 59, 81));
	background: linear-gradient(to right, rgb(100, 149, 237), rgb(229, 59, 81));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#Kontak {
    text-align: center;
    background: -webkit-linear-gradient(to right, rgb(100, 149, 237), rgb(229, 59, 81));
	background: linear-gradient(to right, rgb(100, 149, 237), rgb(229, 59, 81));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}



